#container_choix_soutenance{
    height: 100vh;
    background-color: #EAEAEA;
    padding-top: 20px;
    padding-bottom: 20px;
}

#container_soutenances{
    background-color: whitesmoke;
    height: 79%;
    text-align: left;
}

#container_soutenances h4{
    margin-left: 30px;
}

#container_soutenances span{
    margin-left: 10px;
    margin-bottom: 20px;
}
.container_soutenance{
    height: 100px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.button_soutenance{
    color: white;
    height: 100%;
    width: 100%;
    padding: 0;
}

.button_soutenance div {
    padding: 0;

}

.titresout, .sallesout, .heuresout, .dureesout{
    line-height: 40px;
}

.titresout{
    font-weight: bold;
    font-style: italic;

}