#container_admin, #container_prof{
    height: calc(100vh - 60px);
    background-color: #EAEAEA;
}

#container_select{
    height: 15%;
    line-height: 100px;
}
#container_table{
    height: 40%;
}

#tableShow tbody tr{
    cursor: pointer;
}

#tableShow tbody tr:hover{
    background-color: lightgray;
}

#container_edition{
    background-color: whitesmoke;
    height: 35%;
}

#tableShow{
    width: 100%;
}

#tableEditNote{
    width: 100%;
}

#btnValider, #btnAnnotations{
    margin-top: 10px;
    display: none;
}

.inputNote{
    width: 80%;
}

#selectGroupeButton{
    margin-top: -4%;
}