.commentaire_case{
    text-align: center;
    width: 100%;
    height: 50%;
}
.commentaire_case img{
    width: 100%;
}

#fiche_layer_commentaire {
    position: absolute;
    top:0px;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 200;
    display: none;
}

#fiche_viewer_commentaire{
    height: 10%;
    width: 40%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 10px;
    overflow-y: hidden;

}

#fiche_header_commentaire{
    height: 60px;
    background-color: #1f1d1d;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 60px;
    color: whitesmoke;
    font-size: 25px;
}

#fiche_body_commentaire{
    width: 100%;
    padding: 10px;
    height: calc(100% - 70px);
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}
#fiche_layer {
    position: absolute;
    top:0px;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 200;
    display: none;
}

#fiche_viewer{
    height: 10%;
    width: 40%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 10px;
    overflow-y: hidden;

}

#fiche_header{
    height: 60px;
    background-color: #1f1d1d;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 60px;
    color: whitesmoke;
    font-size: 25px;
}

#fiche_body{
    width: 100%;
    padding: 10px;
    height: calc(100% - 70px);
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}

#container_fusion{
    height: calc(100vh - 60px);
    background-color: #EAEAEA;
    padding: 0px;
}
#block_moyennes {
    overflow-y: auto;
}

#block_sliders, #block_moyennes{
    height: 50%;
    padding: 1%;
}

#block_deliberer, #block_note_finale {
    height: 50%;
    background-color: #EAEAEA;
}

#tablecolonnes{
    width: 100%;
    height: 100%;
}
#tablecolonnes tr{
    height: 100%;
}
#tablecolonnes tr th{
    height: 100%;
    text-align: center;
    width: 20%;
}


#tablecolonnes tr th:nth-child(odd){
    background-color: white;
}

#tablecolonnes tr th:nth-child(even){
    background-color: lightgray;
}
.lineblock{
    height: 12%;
    padding: 0;
}
.slider-info {
    width: 100%;
    height: auto;
}
#block_button_deliberer {
    height: 30%;
    margin-top: 10%;
}

#block_button_retour {
    height: 20%;
    margin-top: 20%;
}

#block_button_deliberer button, #block_button_retour button {
    width: 100%;
    height: 100%;
}

.titleline{
    margin-top: 10px;
    height: 30px;
    border-right: none;
}


.container_buttons_moyennes{
    margin-top: 10px;
    padding: 0;
}

.container_buttons_moyennes:last-child{
    margin-top: 30px;
}



.block_button {
    height: 100%;
    padding: 0;
}

.block_button button{
    height: 100%;
    width: 100%;
    border-radius: 0;
}


#block_button_note_finale {
    height: 20%;
    margin-top: 40%;
}

#block_button_note_finale button {
    width: 100%;
    height: 100%;
}
#block_button_note_finale button span{
    display: block;
}