#container_admin{
    height: calc(100vh - 60px);
    background-color: #EAEAEA;
    padding: 0px;
    overflow-y: scroll;
}

#table_salles {
    background-color: whitesmoke;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

#table_salles th {
    background-color:#05AE0E;
    height: 50px;
    line-height: 50px;
    text-align: center;
    color: white;
    cursor: pointer;
}

#table_salles th i {
    margin-right: 10px;
}

#table_salles td {
    height: 25px;
    line-height: 25px;
    text-align: center;
}

#table_salles input {
    height: 100%;
    border: none;
}

#createSalle{
    width: 25%;
    margin-top: 30px;
    border: none;
    background-color:#05AE0E;
    height: 50px;
    line-height: 50px;
    color: white;
    font-size: 25px;
}

#valider:hover{
    background-color: #4cae4c;

}

#input_name_salle {
    width: 25%;
    display: inline-block;
}

.supprSalle {
    margin-top: 5px;
    border: none;
    background-color: #FF9500;
    height: 30px;
    line-height: 30px;
    color: white;
}

.supprSalle:hover {
    background-color: #eea236;
}

