#container_admin{
    height: calc(100vh - 60px);
    background-color: #EAEAEA;
    padding: 0px;
}

#container_groupe_notation, #container_creer_critere{
    text-align: center;
}


#container_groupe_notation h4, #container_creer_critere h4, #container_groupe_notation h2, #container_creer_critere h2 {
    margin-top: 10px;
    margin-bottom: 0;
}


.crit_div{
    display: inline-block;
    padding: 5px;
}

.crit, .bareme{
    width: 100%;
    margin: 1px;
}