

body{
    overflow: hidden;
}
#notification{
    width: 300px;
    height: 150px;
    background-color: whitesmoke;
    border: 1px solid lightgray;
    position:absolute;
    bottom: -150px;
    right:5px;
    z-index: 200;
    border-top-left-radius: 5px;
}
#notification div {
    border-top-left-radius: 5px;
    width: 100%;
    height: 45px;
    position: absolute;
    text-align: center;
    background-size: contain;
    background-position-x: 10px;
}
.notifwarning{
    background: #F0AD4E url("../img/icon_warning.png") no-repeat;
}
.notifinfo{
    background: #2969B0 url("../img/icon_info.png") no-repeat;
}

.notifsuccess{
    background: #5CB85C url("../img/icon_success.png") no-repeat;
}

#notification h3 {
    margin-top: 10px;
    color: whitesmoke;
    display: inline-block;
}

#textnotif {
    margin-top: 60px;
    position: absolute;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;

}