#container_admin{
    height: calc(100vh - 60px);
    background-color: #EAEAEA;
    padding: 0px;
}

#container_groupes{
    height: 100%;
}

#container_affichage_groupes{
    height: 60%;
    background-color: whitesmoke;
    padding: 0;
    overflow-y: scroll;
}


#container_affichage_groupes{
    height: 60%;
    background-color: whitesmoke;
    padding: 0;
    overflow-y: scroll;
}

#container_affichage_groupes table {
    width: 100%;
    text-align: center;
}
#container_affichage_groupes table td {
    text-align: center;
    width: 20%;
    max-width: 20%;
    cursor: grabbing;
    overflow: hidden;
}

.container_groupe{
    height: 80px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.button_groupe, #button_add_groupe{
    height: 100%;
    width: 100%;
}

#button_add_groupe {
    border: 3px dashed #4cae4c;
    color: #4cae4c;
    font-size: 70px;
    line-height: 80px;
}

#button_add_groupe:hover {
    color: whitesmoke;
    background-color: #4cae4c;
}

#container_controls_groupes{
    height: 60%;
    padding: 0;
}

#container_modif_groupes{
    height: 30%;
    margin-top: 10px;
    padding: 0;
    background-color: whitesmoke;
}

.part_modif{
    height: 100%;
    display: none;
}

.labform{
    width: 15%;
    display: inline-block;
    margin-top: 15px;
}

#titregroupe, #selectpromo, #selectcriteres{
    width: 80%;
    display: inline-block;
}

#duree{
    width: 30%;
}

#edit_planning, #delete_group{
    height: 40px;
    width: 45%;
    margin-top: 50px;
    display: inline-block;
}

.part_modif p {
    display: inline-block;
    margin-left: 10px;
}

.datepicker{
    width: 20%;
}




