#navbar_notation {
    background-color: #2C82C9;
    height: 80px;
    padding: 0px;
}

.button_navbar_notation{
    height: 100%;
    text-align: center;
    cursor: pointer;
}
.button_navbar_notation:hover{
    background-color: #2969B0;
}

.button_navbar_notation span{
    color: white;
    line-height: 80px;
    font-size: 25px;
    width: 100%;
}
#block_titre_soutenance span{
    color: white;
    line-height: 80px;
    font-size: 20px;
    width: 100%;
}

#block_titre_soutenance{
    height: 100%;
    text-align: center;
    font-style: italic;
    background-color: #2969B0;
}

#block_duree span{
    color: lightgrey;
    line-height: 80px;
    font-size: 20px;
    width: 100%;
    font-weight: bolder;
}
#block_duree span:last-child{
    font-weight: lighter;
    color: whitesmoke;
}

#block_chrono, #block_next{
    height: 100%;
    padding: 0px;
}

#block_chrono span{
    color: lightgrey;
    line-height: 80px;
    font-size: 20px;
    width: 100%;
    font-weight: bolder;
}

#button_debut, #button_next{
    width: 100%;
    height: 100%;
}
