#fiche_layer {
    position: absolute;
    top:0px;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 200;
    display: none;
}

#fiche_viewer{
    height: 10%;
    width: 40%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 10px;
    overflow-y: hidden;

}

#fiche_header{
    height: 60px;
    background-color: #1f1d1d;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 60px;
    color: whitesmoke;
    font-size: 25px;
}

#fiche_body{
    width: 100%;
    padding: 10px;
    height: calc(100% - 70px);
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
}
#ajuster_layer {
    position: absolute;
    top:0px;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    z-index: 200;
    display: none;
}

#block_ajuster{
    height: 10%;
    width: 40%;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: whitesmoke;
    margin: auto;
    border-radius: 10px;
    overflow-y: hidden;

}

#header_ajuster{
    height: 60px;
    background-color: #1f1d1d;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    line-height: 60px;
    color: whitesmoke;
    font-size: 25px;
}

#body_ajuster{
    width: 100%;
    padding: 10px;
    height: calc(100% - 70px);
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
}

#validerBareme{
    margin-top: 20px;
}


#container_notation{
    height: calc(100vh - 60px);
    background-color: #EAEAEA;
    padding: 0px;
}

#block_notation{
    height: 60%;
    padding: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

#block_notation div {
    padding: 0;
}

#tablecolonnes{
    width: 100%;
    height: 100%;
}
#tablecolonnes tr{
    height: 100%;
}
#tablecolonnes tr th{
    height: 100%;
    text-align: center;
    width: 16%;
}
#tablecolonnes tr th:last-child{
    width: 8%;
}

/*#tablecolonnes tr th:nth-child(odd){*/
    /*background-color: white;*/
/*}*/

/*#tablecolonnes tr th:nth-child(even){*/
    /*background-color: lightgray;*/
/*}*/

#tablecolonnes tr th {
    background: white;
    border: 1px solid lightgrey;
}

.linetitleblock {
    height: 12%;
    display: table;
    width: 100%;
    padding: 0 0 0 30px !important;
}

.lineblock{
    height: 12%;
    padding: 0;
}
.bigtitleline{
    font-weight: bolder;
    display: table-cell;
    vertical-align: middle;
}

.titleline{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.blockslider{
    height: 100%;
}

.blockswitch{
    height: 100%;
}

.slider-info {
    width: 100%;
    height: 8px !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.switch{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#block_textarea{
    height: 39%;
    padding: 15px;
}
#block_textarea textarea{
    border: 1px solid black;
    display: none;
    width: 100%;
    padding: 5px;
}

#colors_sketch{
    width: calc(100% - 30px);
    height: 90%;
    background-color: white;
}

.tools {
    height: 30px;
    width: 100%;
    z-index: 200000;
}

.tools a button, .tools button {
    z-index: 200000;
    border: none;
    width: 30px;
    height: 30px;
    background-size: cover;
    background-repeat: no-repeat;
}

.switchtext {
    background-image: url("../img/text.png");
}

.switchdraw{
    background-image: url("../img/draw.png");
}
.option_text{
    display: none;
}

.blockslider{
    width: 91%!important;
}

